body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 110vh;
    background: linear-gradient(to right, #ffb476, #ff74e3);
}

h1 {
    margin: 0;
    font-weight: 700;
    color: antiquewhite;
}

h2 {
    margin: 0;
    font-weight: 500;
    color: antiquewhite;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.container {
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
    margin-bottom: 20px;
    text-decoration: none;
    color: inherit;
    border-radius: 8px;
    cursor: pointer;
    color: rgb(229, 53, 123);
}

.container.active,
.header.active {
    opacity: 1;
    transform: translateY(0);
}

#plan {
    background: url("https://wallpapercave.com/wp/wp9429116.jpg") center/cover; 
}

#habits {
    background: url("https://wallpapercave.com/wp/wp9429116.jpg") center/cover; 
}

#meals {
    background: url("https://wallpapercave.com/wp/wp9429116.jpg") center/cover; 
}

#motivation {
    background: url("https://wallpapercave.com/wp/wp9429116.jpg") center/cover; 
}

.help-link {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    color: antiquewhite;
    text-decoration: none;
    cursor: pointer;
}